<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Enigma - realtime</title>
  <style>
    body { font-family: Arial, sans-serif; padding: 20px; }
    #output { font-size: 1.2rem; margin-top: 1rem; }
    #state { color: #666; margin-top: 0.5rem; }
  </style>
</head>
<body>
  <h2>Press any number or alphabet...</h2>
  <p id="output">You pressed: </p>
  <p id="state"></p>
  <input type="checkbox" id = "I">I</input>
  <input type="radio" name = "RotorI" value = "up" >Up</input>
  <input type="radio" name = "RotorI" value = "up" >Down</input>
  <input type="checkbox" id = "II">II</input>
  <input type="radio" name = "RotorII" value = "up" >Up</input>
  <input type="radio" name = "RotorII" value = "up" >Down</input>
  <input type="checkbox" id = "III">III</input>
  <input type="radio" name = "RotorIII" value = "up" >Up</input>
  <input type="radio" name = "RotorIII" value = "up" >Down</input>         
  <input type="checkbox" id = "IV">IV</input>
  <input type="radio" name = "RotorIV" value = "up" >Up</input>
  <input type="radio" name = "RotorIV" value = "up" >Down</input>
  <input type="checkbox" id = "V">V</input>
  <input type="radio" name = "RotorV" value = "up" >Up</input>
  <input type="radio" name = "RotorV" value = "up" >Down</input>
    <br>
  <input type="radio" id = "A" name = "Reflector" value="A">ReflectorA</input>
  <input type="radio" id = "B" name = "Reflector" value="B">ReflectorB</input>      
  <input type="radio" id = "C" name = "Reflector" value="C">ReflectorC</input> 
    <br>
    <br>
  <input type="text" id = "plugboard">Plugboard</input>
    <br>
    <br>
  <input type="text" id = "Set_Key">Set_Key</input>
<br>
<br>
  <input type="checkbox" id = "key">KeyBoard</input>

  <script type="module" src="./js/main.js"></script>
</body>
</html>
